header {
    display: flex;
    gap: 15px;

    align-items: center;
}

main {
    flex-grow: 2;
}

footer {

}

.logo {
    font-size: 2rem;
    font-weight: 700;
    color: #ff7be9b4;

    text-decoration: none;

    margin-right: auto;
}