.coauthoring {
    margin: 10px 0 10px auto;
}

.coauthoring__anchor {
    border-radius: 15px;
    padding: 0 20px;

    background-color: rgba(68, 68, 68, 0.26);

    display: flex;
    gap: 10px;
    
    width: fit-content;
}

.open-button {
    transform: rotate(-90deg);
    transition: all 0.5s;
}